NODE_ENV=development
DEBUG=true
PORT=3000
API_VERSION=1
JWT_SECRET=
DATABASE_URL=localhost
DATABASE_PORT=5432
DATABASE_USER=nodejs-onboarding
DATABASE_PASSWORD=12345
DATABASE=nodejs-onboarding
TRANSACTION_FEE_PERCENTAGE=0.01
FEES_ACCOUNT_EMAIL=account@fees.com
FREE_CURRENCY_API_URL="https://api.freecurrencyapi.com/v1/"
FREE_CURRENCY_API_KEY=
MORGAN_LEVEL=dev
